.bestSeller {
    width: 100%;
    height: 55vh;
    padding: 0 1vw;
}

.bestSeller .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
}

.bestSeller .swiper-pagination-bullet {
    cursor: pointer !important;
}

.bestSeller .card {
    width: 100%;
    max-width: none !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
    border-radius: 10px !important;
    border: 0.2px solid var(--primary_container_border);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    cursor: pointer;
    /* Set a maximum width for the cards */
    /* margin: 0 auto; */
    /* Center the single card */
}

.bestSeller .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 20px rgba(0, 0, 0, 0.15);
}

.bestSeller .crdimg {
    width: 100%;
    height: 33vh;
    padding-top: 100%;
    /* 4:3 Aspect Ratio */
    position: relative;
}
/* 
.bestSeller .crdimg .wishlist {
    margin: 1vh 0.5vw;
    position: absolute;
    top: 0;
    z-index: 9;
}

.bestSeller .crdimg .wishlist .wishlist_icon {
    font-size: 1.4rem;
    color: var(--bgcolor_light);
} */

.bestSeller .crdimg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;
}

.bestSeller .crd_content {
    width: 100%;
    padding: 0.5vh 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.bestSeller .crd_name {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text);
    margin-top: 1vh;
    margin-bottom: 0.8rem;
    text-transform: capitalize;
    /* Your desired text color */
}

.bestSeller .crd_rating {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0.7vh 0;
}

.bestSeller .crd_rating .star {
    font-size: 1.05rem;
    color: #FFD700;
    /* background-color: #FFD700; */
}

.bestSeller .crd_price {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--text);
}
@media (max-width:780px) {
    .bestSeller {
        height: auto;
        max-height: 65vh;
    }
}
@media (max-width:640px) {
    .swiper-slide .card{
        width: 60%;
        max-height: 63vh;
    }
    .swiper-slide{
        display: flex;
        justify-content: center;
    }
    .bestSeller{
        height: auto;
        max-height: 70vh;
    }
}
@media (max-width:510px) {
    .swiper-slide .card{
        width: 70% !important;
        height: auto !important;
        max-height: 66vh;
    }
    .bestSeller {
        height: auto;
        max-height: 68vh;
    }
}
@media (max-width:450px) {
    .swiper-slide .card{
        width: 80% !important;
        height: auto !important;
        max-height: 67vh;
    }
}
@media (max-width:400px) {
    .swiper-slide .card{
        width: 90% !important;
        height: auto !important;
        max-height: 67vh;
    }
}