.dashboard_container .dashboard_sidebar {
    width: 15vw;
    height: 60vh;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    padding: 1.5vh 0 0 0;
    top: 0;
    /* Stick to the top of the viewport */

    /* Hides the scrollbar for Webkit browsers (e.g., Chrome, Safari) */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.dashboard_container .dashboard_sidebar .sidebar_content {
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.dashboard_container .dashboard_sidebar .sidebar_btn {
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 0 0 1.5vh 0;
    border-bottom: 1px solid var(--primary_container_border);
    /* align-items: center;
    justify-content: center; */
}

.dashboard_container .dashboard_sidebar .sidebar_btn:last-child {
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 0 0 1.5vh 0;
    border-bottom: none !important;
    /* align-items: center;
    justify-content: center; */
}

.dashboard_container .dashboard_sidebar .sidebar_btn .sidebar_tag {
    display: flex;
}

.dashboard_container .dashboard_sidebar .sidebar_btn .sidebar_tag h3 {
    font-size: 0.8rem;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
    letter-spacing: 0.1vh;
    text-transform: capitalize;
    opacity: 0.8;
    margin-bottom: 0 !important;
}


.dashboard_container .dashboard_sidebar .sidebar_text {
    width: 20vw;
    display: flex;
    background-color: transparent !important;
    border: none;
    outline: none;
    cursor: pointer;
}

.dashboard_container .dashboard_sidebar .sidebar_text:hover {
    background-color: transparent;
}

.dashboard_container .dashboard_sidebar .sidebar_text h4 {
    font-size: 0.85rem;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
    letter-spacing: 0.1vh;
    text-transform: capitalize;
    margin-bottom: 0 !important;
    cursor: pointer;
}

.dashboard_container .dashboard_sidebar .sidebar_text h4:hover {
    font-size: 0.88rem;
    color: var(--text_extra_dark);
}