.dashboard_container {
    width: 100vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bgcolor);
    padding: 4vh 4vw 0 4vw;
    /* overflow-x: hidden; */
}

.dashboard_container .dashboard_content {
    margin-top: 0.5vh;
    width: 92vw;
    display: flex;
    gap: 2vw;
    flex-direction: row !important;
}



.lato {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}