.regis_container {
    width: 100vw;
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgcolor);
}

.regis_container .register_content {
    width: 95vw;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: var(--bgcolor);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.regis_container .register_content .regis_image {
    width: 40vw;
    height: 80vh;
    display: flex;
    align-items: center;
}

.regis_container .register_content .regis_image img {
    width: 40vw;
    height: 80vh;
    object-fit: cover;
}

.regis_container .register_content .regis_form {
    width: 55vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    /* align-items: center; */
    background-color: var(--bgcolor_light);
}

.regis_container .reg_title {
    width: 55vw;
    padding: 0 2vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.regis_container .reg_title h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.6rem !important;
    font-weight: 400;
    font-style: normal;
    color: var(--primary);
    margin-bottom: 0 !important;
}

.regis_container .reg_form {
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
}

.regis_container .reg_form .display_name {
    width: 52vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.regis_container .inpbar {
    width: 25vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.regis_container .inpbar h4 {
    font-size: 1.75vh;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    color: var(--text);
    font-style: normal;
    letter-spacing: 0.2vh;
}

.regis_container .inpbar input {
    width: 25vw;
    height: 6vh;
    padding: 1vh;
    font-size: 2vh;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    border: 1px solid var(--primary_container_border);
    outline: 1px;
    background-color: var(--bgcolor_extra_light);
}

.regis_container .otpbar {
    width: 25vw;
    display: flex;
    flex-direction: column;
    display: none;
    margin-bottom: 2vh;
}

.regis_container .otpbar h4 {
    font-size: 1.75vh;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: var(--text);
    letter-spacing: 0.2vh;
}

.regis_container .otpbar input {
    width: 25vw;
    height: 6vh;
    padding: 1vh;
    font-size: 2vh;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    border: 1px solid var(--primary_container_border);
    outline: 1px;
    background-color: var(--bgcolor_extra_light);
    pointer-events: none;
    opacity: 0.5;
}

.regis_container .reg_btn {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 25vw;
    height: 6vh;
    border: none;
    outline: none;
    font-size: 2.4vh;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    color: white;
    background-color: var(--secondary);
    cursor: pointer;
}

.regis_container .reg_btn:hover {
    background-color: var(--secondary_dark);
}


.regis_container .reg_text {
    margin-top: 1.5vh;
    margin-bottom: 3vh;
    font-size: 2.45vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* text-transform: uppercase; */
}

.reg_text .link_reg {
    color: rgb(34, 34, 34);
    text-decoration: none;
}

.regis_container .reg_text .link_reg:hover {
    text-decoration: underline;
}

.regis_container .signin_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5vh;
    width: 25vw !important;
    height: 7vh;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    /* background-color: rgb(233, 0, 0, 0.75); */
}

.regis_container .signin_phone .phone_text {
    width: 22vw;
    height: 6vh;
    border: none;
    outline: none;
    padding: 1vw;
    display: flex;
    align-items: center;
    font-size: 2vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: rgba(0, 123, 255, 0.75); */
    background-color: rgba(157, 0, 157, 0.75);
    cursor: pointer;
}

.regis_container .signin_phone .phone_icon_btn {
    width: 3vw;
    height: 6vh;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: rgba(0, 123, 255, 0.6); */
    background-color: rgba(157, 0, 157, 0.6);
    cursor: pointer;
}

.regis_container .signin_phone:hover {
    .phone_text {
        /* background-color: rgba(0, 123, 255, 0.65); */
        background-color: rgba(157, 0, 157, 0.65);
    }

    .phone_icon_btn {
        /* background-color: rgba(0, 123, 255, 0.5); */
        background-color: rgba(157, 0, 157, 0.5);
    }
}


.regis_container .signin_seller {
    display: flex;
    margin-bottom: 2vh;
    width: 25vw;
    height: 6vh;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    /* background-color: rgb(233, 0, 0, 0.75); */
}

.regis_container .signin_seller .seller_text {
    width: 22vw;
    height: 6vh;
    border: none;
    outline: none;
    padding: 1vw;
    display: flex;
    align-items: center;
    font-size: 2vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(157, 0, 157, 0.75);
    cursor: pointer;
}

.regis_container .signin_seller .seller_icon_btn {
    width: 3vw;
    height: 6vh;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(157, 0, 157, 0.6);
    cursor: pointer;
}

.regis_container .signin_seller:hover {
    .seller_text {
        background-color: rgba(157, 0, 157, 0.65);
    }

    .seller_icon_btn {
        background-color: rgba(157, 0, 157, 0.5);
    }
}


.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.lato {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}


.regis_container .divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.regis_container .line {
    width: 8.5vw;
    flex-grow: 1;
    height: 1px;
    background-color: var(--primary);
    margin: 0 6px;
    opacity: 0.5;
}

.regis_container .sellerline {
    width: 8vw;
    flex-grow: 1;
    height: 1px;
    background-color: #4747d4;
    margin: 0 6px;
    opacity: 0.5;
}

.regis_container .divider-text {
    font-size: 16px;
    color: var(--primary);
}