.container_main{
    margin-top: 5px !important;
}
.wishlist_item_container{
    /* width: 100%; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
}
.wishlist_item{
    border-radius: 10px;
    margin: 20px 10px; 
    border: 1px solid rgb(225, 225, 225);
    width: 15vw;
    /* height: 40vh; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    /* padding: 0px 20px; */
}
.card_top{
    
    border-radius: 3px;
    /* border: 1px solid black; */
    height: 33vh;
}
.card_top img{
    
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card_bottom{
    width: 100%;
    /* border: 1px solid black; */
    background-color: var(--bgcolor);
    height: 13vh;
    padding: 5px 10px;
    position: relative;
}
.line1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.line2{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 5px; */
}
.name{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    font-weight: 400;
    color: #9c46bf;
}
.price{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text);
}
/* .pid{
    color: rgb(177, 177, 177);
    font-size: 0.9rem;
    margin-bottom: 15px;
} */
.color{
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 5px;
    /* margin-bottom: 40px; */
   
    /* color: #ad70c5; */
}
.wishlist-header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wishlist-header h1{
    color: var(--text)
}
.heart-logo img{
    height: 57px;
}

.remove_btn{
    /* position: absolute;
    bottom: 1px; */
}
.remove_btn button{
    font-family: 'Roboto Mono', monospace;
    /* padding: 7px; */
    background: white;
    border: none;
    /* border: 1px solid rgb(185, 185, 185); */
    color: rgb(185, 185, 185);
    border-radius: 3px;
    font-size: 1rem;
}
.remove_btn button:hover{
    cursor: pointer;
    color: rgb(255, 0, 0);
    /* background-color: red; */
    /* border: 1px solid red; */
    transition: 0.3s;
}